:root{
    --primary: #b6895b;
    --black: #010101;
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body{
    font-family: sans-serif;
    background-color: #000;
    height: 150rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary);
    background-color: rgba(1, 1, 1, 0.8);
    padding: 1.5rem 5%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.name{
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary);
}

nav ul {
    display: flex;
    margin: 0 auto;
    list-style-type: none;
}

nav ul li {
    margin: 10px 0; 
}

ul li a{
    color: #fff;
    display: block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

ul li a:hover{
    color: var(--primary);
}

ul li a::after{
    content: '';
    display: block;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

ul li a:hover::after{
    transform: scale(0.5);
}
.navbar-extra a{
    color: white;
    margin: 0 0.5rem;
}
.navbar-extra a:hover{
    color: var(--primary);
}
#menu{
    display: none;
}
.home{
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('./image/pexels-apasaric-2341830.jpg');   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.home::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(1,1,3,1) 8%, rgba(255,255,255,0) 50%);}

.home .content{
    padding: 4rem 7%;
    transform: translateY(150px);
}

.home #typewriter::after{
    content: "|";
    animation: blink 0.7s infinite;

}
@keyframes blink {
    50% { opacity: 0;}
}

.content h1{
    font-size: 3.5rem;
}

.content h2, p{
    font-size: 2rem;
}

.content .name{
    color: var(--primary);
}

.content .cta{
    display: inline-block;
    margin-top: 10px;
    font-size: 1.5rem;
    color:#fff;
    background-color: var(--primary);
    border-radius: 0.5rem;
    padding: 15px 20px;
    transition: transform 0.3s ease-in-out;
}
.home .content .cta:hover{
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
}

.about{
    margin-top: 2rem;
    padding: 8rem 7% 1.4rem;
}
.about h2{
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}
.about .content{
    gap: 50px;
    margin: 0 auto;
    padding: 10px 180px;
    display: flex;
    align-items: center;
}
.about p{
    color: #fff;
    font-size: 1.25rem;
    word-spacing: 5px;
    text-align: justify;
    line-height: 1.5;
}
.image{
    width: 1200px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid var(--primary);
    box-shadow: 0 0 10px 5px rgba(205, 132, 8, 0.8);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.image .photo{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.image:hover{
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 20px 8px rgba(205, 132, 8, 0.8);
}

.photo:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.about a.cv{
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    font-size:  20px;
    color:#fff;
    background-color: var(--primary);
    border-radius: 0.5rem;
    padding: 25px 40px;
    margin-top: 24px;
    transition: transform 0.3s ease-in-out;
    position: relative; /* Required for z-index to work */
    z-index: 100;
}

.about a:hover{
    box-shadow: 0 0 20px 5px rgba(205, 132, 8, 0.8);
    transition: transform 0.3s ease-in-out;
}

.about h3{
    color: #fff;
    font-size: 35px;
    text-align: center;
    margin: 130px 0 50px 0;
}
.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.timeline-line {
    position: absolute;
    left: 50px;
    top: 0;
    bottom: 0;
    width: 2px;
    background: var(--primary);
}

.experience {
    position: relative;
    margin-bottom: 40px;
    padding-left: 80px;
}

.experience-circle {
    position: absolute;
    left: 43px;
    top: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--primary);
    border: 4px solid var(--black);
    box-shadow: 0 0 0 2px var(--primary);
}

.experience-content {
    background: var(--primary);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.experience-content h4 {
    color: var(--black);
    font-size: 25px;
    margin-bottom: 10px;
}

.experience-content h5 {
    color: var(--black);
    word-spacing: normal;
    margin-bottom: 10px;
    font-size: 18px;
}

.experience-content p.duration {
  font-size: 0.9em;
  margin-bottom: 13px;
  color: var(--black);
  opacity: 0.8;
  word-spacing: normal;
}

/* Skill section */
.skill{
    margin-top: 2rem;
    padding: 8rem 7% 1.4rem;
    color: #fff;
}
.skill h2{
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    margin-bottom: 2.5rem;
}

.skill .container{
    display: flex;
    gap: 25px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
}
.skill .content{
    border: 1px solid var(--primary);
    border-radius: 3%;
    padding: 20px;
    width: 200px;
    transition: transform 0.3s ease-in-out;
}
.skill .content:hover{
    box-shadow: 0 0 20px 5px rgba(205, 132, 8, 0.8);
    transition: transform 0.3s ease-in-out;
    transform: translateY(-5px);
}
.skill-img{
    transform: translateY(13px);
    width: 50px;
    transition: transform 0.3s ease-in-out;
}
.skill .content:hover .skill-img {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out; 
}
.skill .content:hover p{
    transform: translateY(5px);
    opacity: 1;
    transition: transform 0.3s ease-in-out;
}
.skill .content:hover h3{
    transform: translateY(3px);
    transition: transform 0.3s ease-in-out;
}
.skill h3{
    color: #fff;
    transform: translateY(10px);
    transition: transform 0.3s ease-in-out;
}

.skill p{
    transform: translateY(2px);
    font-size: 15px;
    color: #fff;
    opacity: 0;
    transition: transform 0.3s ease-in-out;
}

#tools .container{
    margin-left: 0;
    padding-bottom: 180px;
}
#tools .content{
    width: 250px;
    transition: transform 0.3s ease-in-out;
}
#tools .content:hover{
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
}

#tools h3{
    font-size: 15px;
    opacity: 0;
    transition: transform 0.3s ease-in-out;
}

.tool-img{
    width: 50px;
    transform: translateY(10px);
    transition: transform 0.3s ease-in-out;
}

#tools .content:hover .tool-img{
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}

#tools .content:hover h3{
    opacity: 1;
    transition: transform 0.3s ease-in-out;
}

#certi .container{
    margin-left: 0;
    padding-bottom: 50px;
}
#certi .open{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2rem;
    opacity: 0; 
    transition: opacity 0.3s ease;
    cursor: pointer;
    color: #fff;
    margin-right: 5px;
    margin-top: 2px;
}
#certi .content{
    width: 400px;
    transition: transform 0.3s ease-in-out; 
}
#certi .content:hover{
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
}
#certi .content:hover .open{
    opacity: 1;
}
#certi h3{
    font-size: 15px;
    transition: transform 0.3s ease-in-out;
}
#certi .cert{
    width: 300px;
    height: 200px;
}

.tabs {
    display: flex;
    margin-left: 63px;
    justify-content: left;
    gap: 15px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--primary);
}

.tab {
    padding: 10px 20px;
    border: 1px solid var(--primary);
    cursor: pointer;
    border-radius: 20px;
}

.tab.active {
    background-color: var(--primary);
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(205, 132, 8, 0.8);
}

.skill .section {
    display: none;
}

.skill .section.active {
    display: block;
}

/* Project section */
.project{
    margin-top: 1rem;
    padding: 7rem 7% 1.4rem;
}
.project .container{
    background-color: var(--primary);
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.project .sub-container{
    padding-top: 40px;
    display: flex;
}
.project h2{
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
}
.project h3{
    padding: 20px;
    color: var(--black);
    text-align: left;
    font-size: 25px;
    margin-top: 100px;
}
.project p{
    padding: 0 20px;
    color: var(--black);
    text-align: left;
    font-size: 18px;
}
.project p.tool{
    padding: 20px 0 0 20px;
    color: #222;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
}
.project .img{
    margin: 40px 0 150px 180px;
    width: 40%;
    height: 70%;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 5px 10px 2px rgba(4, 4, 4, 0.8);
}
.project .img:hover{
    transform: translateY(-10px);
    transition: transform 0.3s ease-in-out;
}
.project .sub-content{
    transform: translateY(-50px);
    margin:0 100px 0 50px;
}
.project .project-content{
    display: flex;
    width: 50%;
    height: 400px;
    transition: transform 0.3s ease-in-out;
}
.project .view{
    text-align: center;
    margin: 20px 20px; 
    padding: 17px 15px; 
    cursor: pointer;
    width: 170px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    background-color: #fff;
    color: black;
    box-shadow: 0 5px 10px 2px rgba(4, 4, 4, 0.8);
}
.project i{
    font-size: 20px;
    transform: translateY(-3px) translateX(3px);
}
.swiper-pagination-bullet{
    background-color: #fff !important;
}
.swiper-button-prev, .swiper-button-next{
    color: #fff !important;
}

/* Contact section */
.contact{
    align-items: center;
    text-align: center;
}
.contact .container{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    background-color: var(--primary);
    width: 70%;
    padding: 30px 0;
    margin-bottom: 80px;
    border-radius: 20px;
}
.contact .content{
    align-items: center;
    margin: 50px 30px;
    display: flex;
    gap: 15px;
}
.contact .content .ph.ph-map-pin, .ph.ph-phone, .ph.ph-envelope{
    font-size: 50px;
}
.contact .content h3{
    font-size: 25px;
}
.contact .content p, .contact .content a {
    font-size: 15px;
    opacity: 0.7;
    color: var(--black);
}
.contact .content .sub-content{
    text-align: left;
}
form{
    margin-left: 50px;
}
.contact h2{
    padding: 8rem 7% 1.4rem;
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
}
.contact i{
    color: #fff;
    font-size: 20px;
}
.contact .input-group{
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: flex;
    border-radius: 20px;
    padding-top: 30px;
    
}
.contact input, textarea{  
    align-items: center;
    color: #fff;
    background-color: #222;
    width: 500px;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 20px;
    resize: none;
}
input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    background-color: white;
    color: black; 
    border: 1px solid #222;
  }
.contact .btn{
    color: var(--black);
    margin: 30px 50px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 20px;
    font-size: 1.4rem;
    padding: 20px 40px;
}
.contact .btn i{
    color: var(--black);
    margin-left: 5px;
}

/* Footer section */
footer{
    padding: 1rem 0 3rem;
    background-color: var(--primary);
    text-align: center;
}
footer .social{
    padding: 1rem 0;
}

footer .social a{
    color: #fff;
    margin: 1rem;
    font-size: 30px;
}

footer .social a:hover, footer .links a:hover{
    color: var(--black);
}

footer .links {
    margin-bottom: 1.4rem;
}

footer .links a{
    color: #fff;
    padding: 0.7rem 1rem;
}

footer .credit{
    padding: 0.8rem;
}

footer .credit a{
    color: var(--black);
    font-weight: 700;
}

/* Responsive */
@media screen and (max-width: 768px) {
    html{
        font-size:62.5%;
        scroll-behavior: smooth;
    }
    body{
        width: 110%;
        background-color: #222;
    }
    #menu{
        display: inline-block;
        transform: scale(2);
    }
    .home::after{
        background: linear-gradient(0deg, rgba(34, 34, 34, 1) 8%, rgba(34, 34, 34, 0) 50%);

    }
    nav ul{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: white;
        width: 25rem;
        height: 100vh;
        transition: 0.3s;
        display: flex;
        flex-direction: column;
        
    }

    nav ul.active{
        right: 0;
        background-color: var(--primary);
    }
    nav ul a{
        color: white;
        margin-left: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
        row-gap: 2px;
    }
    nav ul a:hover{
        color: var(--black);
    }

    nav ul a::after{
        content: '';
        display: block;
        padding-bottom: 0.5rem;
        border-bottom: 0.1rem solid var(--primary);
        transform: scaleX(0);
        transition: 0.2s linear;
    }
    nav ul a:hover::after{
        transform:scaleX(0.2); 
    }

    /* about */
    .about .content{
        width: 50%;
        margin-left: 0;
    }
    .about{
        margin-top: 2rem;
    }
    .about .content{
        width: 100%;
        padding: 10px 45px;
        display: block;
    }
    .about p{
        text-align: justify;
        word-spacing: 0;
        width: 250px;
    }
    .about .sub-content{
        margin-top: 40px;
        width: 100%;
    }
    .image{
        width: 260px;
        height: 260px;
    }
    .about a.cv{
        font-size: 15px;
        padding: 20px 70px;
        white-space: nowrap;
        height: 60px;
    }
    .about a.cv:hover{
        box-shadow: 0 0 20px 5px rgba(205, 132, 8, 0.8);
        transition: transform 0.3s ease-in-out;
    }
    .about h3{
        font-size: 28px;
    }
    .timeline-line {
        left: 30px;
    }
    .experience-circle {
        left: 23px;
    }
    .experience-content h4 {
        font-size: 23px;
    }
    
    .experience-content h5 {
        font-size: 17px;
    }
    
    .experience-content .duration {
      font-size: 13px;
      opacity: 0.5;
    }


    /* skills */
    .tabs {
        margin-left: 5px;
        justify-content: center;
        font-size: 10px;
    }
    .tab {
        padding: 10px 30px;
    }
    .skill .content{
        padding: 13px;
        width: 140px;
    }
    #tools .content{
        width: 200px;
    }
    #tools h3{
        font-size: 15px;
        opacity: 1;
        transition: transform 0.3s ease-in-out;
        transform: translateY(2px);
    }
    .tool-img{
        transform: translateY(1px);
    }
    #tools .content:hover .tool-img, h3{
        transform: none;
    }
    #certi .open{
        font-size: 3rem;
    }
    #certi .content{
        width: 300px;
    }
    #certi .cert{
        width: 200px;
        height: auto;
    }
  
    /* project */
    .project{
        margin-top: 1rem;
        padding: 7rem 0 1.4rem;
    }
    .project .container{
        width: 80%;
        height: 60%;
    }
    .project h3{
        font-size: 18px;
        margin-top: 50px;
    }
    .project p{
        font-size: 13px;
    }
    .project h2{
        font-size: 2.5rem;
        color: #fff;
        text-align: center;
        margin-bottom: 2rem;
    }
    .project p{
        padding: 0 20px;
        color: var(--black);
        text-align: left;
        font-size: 15px;
    }
    .project p.tool{
        padding: 10px 0 0 20px;
        font-size: 15px;
    }
    .project .img{
        margin: 6px 10px 0 30px;
        width: 80%;
        height: 40%;
    }
    .project .sub-content{
        transform: translateY(-50px);
        margin:5px;
    }
    .project .project-content{
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 500px;
        transition: transform 0.3s ease-in-out;
    }
    .project .view{
        font-size: 15px;
        text-align: center;
        margin: 20px 20px; 
        padding: 17px 10px; 
        cursor: pointer;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        display: flex;
        background-color: #fff;
        color: black;
        box-shadow: 0 5px 10px 2px rgba(4, 4, 4, 0.8);
    }
    .project i{
        font-size: 20px;
        transform: translateY(-3px) translateX(3px);
    }
    .swiper-pagination-bullet{
        background-color: #fff !important;
    }
    .swiper-button-prev, .swiper-button-next{
        opacity: 0 !important;
    }

    /* Contact */
    .contact .container{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-bottom: 80px;
    }
    .contact-content{
        display: block;
        margin: 0 auto;
    }
    .contact .content{
        margin: 20px 1px;
        display: flex;
        gap: 10px;
    }
    .contact .content .ph.ph-map-pin, .ph.ph-phone, .ph.ph-envelope{
        font-size: 25px;
    }
    .contact .content h3{
        font-size: 20px;
        margin-left: 15px;
    }
    .contact .content p, .contact .content a{
        font-size: 12px;
        opacity: 0.8;
        margin-left: 15px;
    }
    form{
        margin: 0 auto;
    }
    .contact input, textarea{  
        width: 250px;
    }

    /* Footer */
    footer .credit p{
        font-size: 15px;
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .about .content{
        width: 100%;
        display: block;
    }
    .about .sub-content{
        margin-top: 40px;
    }
    .image{
        width: 300px;
        height: 300px;
    }
    .about a{
        padding: 30px 95px;
        white-space: nowrap;
        height: 80px;
    }
    .about p{
        text-align: justify;
        word-spacing: normal;
    }
    .tabs {
        margin-left: 5px;
        justify-content: center;
    }

    /* Project */
    .project{
        margin-top: 1rem;
        padding: 7rem 0 1.4rem;
    }
    .project .container{
        width: 80%;
        height: 60%;
    }
    .project h3{
        font-size: 18px;
        margin-top: 50px;
    }
    .project p{
        font-size: 13px;
    }
    .project h2{
        font-size: 2.5rem;
        color: #fff;
        text-align: center;
        margin-bottom: 2rem;
    }
    .project p{
        padding: 0 20px;
        color: var(--black);
        text-align: left;
        font-size: 15px;
        line-height: 25px;
    }
    .project p.tool{
        padding: 10px 0 0 20px;
        font-size: 15px;
    }
    .project .img{
        margin: 6px 10px 0 30px;
        width: 80%;
        height: 60%;
    }
    .project .sub-content{
        transform: translateY(-50px);
        margin:30px 10px 30px 10px;
    }
    .project .project-content{
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 700px;
        padding: 0 20px 0 50px;
    }

    /* Contact */
    .contact .container{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-bottom: 80px;
    }
    .contact-content{
        display: block;
        margin: 0 auto;
    }
    .contact .content{
        margin: 20px 1px;
        display: flex;
        gap: 10px;
    }
    .contact .content .ph.ph-map-pin, .ph.ph-phone, .ph.ph-envelope{
        font-size: 25px;
    }
    .contact .content h3{
        font-size: 20px;
        margin-left: 15px;
    }
    .contact .content p, .contact .content a{
        font-size: 12px;
        opacity: 0.8;
        margin-left: 15px;
    }
    form{
        margin: 0 auto;
    }
    .contact input, textarea{  
        width: 450px;
    }
}